body {
    background-color: #121212;
}

a {
    color: inherit;
    text-decoration: inherit;
}

@font-face {
    font-family: "Product Sans Bold";
    src: url("../fonts/Product-Sans-Bold.woff") format('woff');
}

@font-face {
    font-family: "Product Sans Regular";
    src: url("../fonts/Product-Sans-Regular.woff") format('woff');
}

@font-face {
    font-family: "FZ Youhei";
    src: url("../fonts/方正悠黑_512B.woff") format('woff');
}

.loading-page {
    position: fixed;
    background-color: #121212;
    height: 100vh;
    width: 100vw;
}

.loading-content {
    height: 30vh;
    width: 80vw;
    margin: auto;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    position: absolute;
    color: white;
    font-family: "Product Sans Regular";
    letter-spacing: 0.1em;
    font-size: 2vh;
    line-height: 1.8em;
    text-align: left;
}

.loading-title {
    font-family: "Product Sans Bold";
    letter-spacing: 0.1em;
    font-size: 2em;
    line-height: 1.2em;
    padding-top: 0.5em;
}

.content-container {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    justify-content: center;
    height: 100vh;
    user-select: none;
}

.copyright-info {
    width: 80vw;
    position: fixed;
    bottom: 10pt;
    color: rgba(255, 255, 255, 0.3);
    font-size: 8pt;
    letter-spacing: 0.1em;
    font-family: "Product Sans Regular";
}

.sketcher-container {
    display: inline-block;
    position: relative;
    line-height: 0;
}

.sketcher {
    background-color: #212121;
    display: inline-block;
    position: relative;
    width: 80vw;
    max-width: 40vh;
    height: 80vw;
    max-height: 40vh;
    border-radius: 10px;
}

.refresh-button {
    right: 3%;
    bottom: 3%;
    width: 10%;
    height: 10%;
    position: absolute;
    display: block;
    padding: 0;
    margin: 0;
    border-radius: 50%;
    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.8);
    border: none;
    outline: none;
    background-color: rgba(236, 64, 122, 1);
    transition: all .2s;
}

.refresh {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    display: block;
    background: url("/img/refresh.svg");
    background-size: 75%;
    background-position: center;
    background-repeat: no-repeat;
    fill: white;
}

.refresh-button:disabled .refresh {
    transition: transform .4s;
    transform: rotate(360deg);
}

.refresh-button:disabled {
    box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    background-color: rgba(255, 255, 255, 0.1);
}

.description {
    background-color: rgba(0, 0, 0, 0.01);
    display: inline-block;
    width: 80vw;
    max-width: 40vh;
    height: 80vw;
    max-height: 40vh;
    color: #ffffff;
    font-size: 0;
}

.name-container {
    display: flex;
    justify-content: space-between;
    font-family: "Product Sans Bold", "FZ Youhei", Sans-serif;
}

.media-button-container {
    height: 18%;
    margin: 5% 0% 0% 0%;
    font-size: 0;
    padding: 0% 6% 0% 6%;
}

.media-button {
    display: inline-block;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 5px;
    height: 100%;
    width: 49.5%;
    border: 0;
    outline: none;
    cursor: pointer;
    margin: 0 1% 0 0;
    padding: 0;
    transition: all .2s;
}

.media-button:hover:enabled {
    background-color: rgba(252, 228, 236, 0.2);
}

#video-button {
    margin: 0;
}

.media-button:disabled {
    background-color: rgba(255, 255, 255, 0.05);
    cursor: no-drop;
}

.media-button-icon {
    width: 25%;
    height: 80%;
    display: inline-block;
    opacity: 0.1;
}

#audio-button-icon {
    background: url(/img/audio.svg);
    background-size: 90%;
    background-position: center;
    background-repeat: no-repeat;
}

#video-button-icon {
    background: url(/img/youtube.svg);
    background-size: 90%;
    background-position: center;
    background-repeat: no-repeat;
}

.predictions-container {
    font-family: "Product Sans Regular";
    height: 50%;
    width: 100%;
    padding: 5% 6% 0% 6%;
    border-collapse: separate;
    border-spacing: 0;
    counter-reset: number -1;
}

.pred-result-prob {
    background-color: rgba(255, 255, 255, 0.03);
    line-height: 3;
    width: 49.5%;
    height: 90%;
    margin: 0 1% 1% 0;
    border-radius: 5px;
    display: inline-block;
    vertical-align: middle;
}

.pred-result-prob:nth-child(2n) {
    margin-right: 0;
}

.pred-result-prob:before {
    content: counter(number);
    counter-increment: number;
    width: 20%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.02);
    display: inline-block;
    float: left;
    border-radius: 5px 0 0 5px;
    ;
}

@media (min-aspect-ratio: 1/1) {
    .loading-content {
        font-size: 2vw;
    }
    .sketcher {
        width: 80vh;
        max-width: 40vw;
        height: 80vh;
        max-height: 40vw;
    }
    .description {
        width: 80vh;
        max-width: 40vw;
        height: 80vh;
        max-height: 40vw;
    }
}